<div class="loan-form">
  <div class="form-item loan-amount">
    <label for="loanAmount">Loan Amount</label>
    <div>
      <input type="number" id="loanAmount" value="5000" />
      <select class="currency">
        <option value="">GH₵</option>
      </select>
    </div>
  </div>
  <div class="form-item">
    <label for="loanTermYears">Loan term in years</label>
    <div>
      <input type="number" id="loanTermYears" value="4" />
    </div>
  </div>
  <div class="form-item">
    <label for="loanTermMonths">Loan term in months</label>
    <div>
      <input type="number" id="loanTermMonths" value="48" />
    </div>
  </div>

  <div class="form-item interest-rate">
    <label for="interestRate">Interest rate per year</label>
    <div>
      <input type="number" id="loanTermMonths" value="6.5" />
    </div>
  </div>

  <div class="calculate"><button class="calculateBtn">Calculate</button></div>
</div>
