<div class="loan-details">
  <div class="details-item">
    <div>Total principal amount to pay</div>
    <div>GH₵ 5,000</div>
  </div>
  <div class="details-item">
    <div>Total interest to pay</div>
    <div>GH₵ 691.59</div>
  </div>
  <hr />
  <div class="details-item total-amt">
    <div>Total Loan amount to pay</div>
    <div>GH₵ 5,691.59</div>
  </div>
  <div class="monthly-payment">
    <div>Monthly payment</div>
    <div class="amount">
      <span class="currency">GH₵</span> <span class="value">118.57</span>
    </div>
  </div>
</div>
